body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Estilos de carrosel */
.carousel-item img {
  height: 500px; /* altura fixa */
  width: 100%; /* largura completa dentro do carrossel */
  object-fit: cover; /* cobre a área designada sem distorcer a imagem */
}
